<header class="bg-white header">
    <div class="container">
      <div class="row align-items-center py-3">
        <!-- Logo on the left -->
        <div class="col-6 col-md-4">
          <h4 class="mb-0 fe-logo font-weight-bold">LOGO</h4>
        </div>

        <!-- Navigation and buttons on the right -->
        <div class="col-6 col-md-8 text-end">
          <nav class="d-inline-block">
            <a href="#" class="btn btn-link text-decoration-none">Home</a>
            <a href="#" class="btn btn-link text-decoration-none"
              >Free Course</a
            >
          </nav>
          <a href="#" class="btn btn-prime text-decoration-none">Log In</a>
        </div>
      </div>
    </div>
  </header>