<footer class="bg-white text-light pt-5">
    <div class="container">
      <div class="row">
        <!-- 8-Column Section -->
        <div class="col-lg-8 col-md-12 mb-4">
          <h4 class="fe-logo">Logo</h4>
          <h6 class="libord pt-2">
            Education Consulting with a Global Perspective
          </h6>
        </div>

        <!-- 4-Column Section with Two Lists -->
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <!-- List 1 -->
            <div class="col-6 mb-3">
              <h6 class="li-head">Follow us</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none">Facebook</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none">Youtube</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none">Linkedin</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none">Instagram</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none">Twitter</a>
                </li>
              </ul>
            </div>

            <!-- List 2 -->
            <div class="col-6 mb-3">
              <h6 class="li-head">Resources</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none">Disclaimer</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none">Pricing</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none">Privacy</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none"
                    >Terms & Condition</a
                  >
                </li>
                <li>
                  <a href="#" class="text-decoration-none">Refund Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container border-top">
      <div class="text-center py-3">
        <small
          >&copy; Copyright © 2024 AI Powered Group All rights
          reserved.</small
        >
      </div>
    </div>
  </footer>