<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Card 1 -->
          <div
  class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 me-3 d-flex align-items-center"
>
  <div class="col-12 d-flex align-items-center">
    <img src="https://i.ibb.co/t4nC3mz/sv1.png" alt="icon" class="sm-img me-3">
    <div>
      <p class="mb-0 upper-tst font-weight-normal">
        Check your Speaking and Writing Scores
      </p>
      <b class="mb-0 lwr-tst">Within 1 Minute</b>
    </div>
  </div>
</div>


          <div class="row">
            <div class="col-6">
              <div
  class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 me-3 d-flex flex-column align-items-start"
>
  <div class="col-12 d-flex flex-column align-items-start">
    <img src="https://i.ibb.co/cx2yB1Z/pen1.png" alt="icon" class="smx-img mb-3">
    <div>
      <p class="mb-0 upper-tst">The World's Only</p>
      <b class="mb-0 lwr-tst">Context & Content Evaluation</b>
    </div>
  </div>
</div>

            
            </div>
            

            <div class="col-6">
              <div
                class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 me-3 d-flex flex-column align-items-start"
              >
                <div class="col-12 d-flex flex-column align-items-start">
                  <img src="https://i.ibb.co/ykF9JCQ/sv3.png" class="smx-img mb-3">
                  <div>
                    <b class="mb-0 lwr-tst">Accurate and Consistent Scoring</b>
                    <p class="mb-0 upper-tst">In Line with Expert</p>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
        <div
          class="col-md-6 key-skill d-flex flex-column justify-content-center"
        >
          <h2 class="mb-0 txt-col">Accurate Test Scores</h2>
          <h2 class="mt-0 fw-600">with Advanced AI Grader</h2>
          <p class="pt-md-3">
            It is a long established fact that a reader will be distracted
            by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters, as opposed to using 'Content
            here, content here', making it look like readable English.
          </p>
        </div>
      </div>
    </div>
  </section>