<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header class="bg-white header">
        <div class="container">
          <div class="row align-items-center py-3">
            <!-- Logo on the left -->
            <div class="col-6 col-md-4">
              <h4 class="mb-0 fe-logo font-weight-bold">LOGO</h4>
            </div>

            <!-- Navigation and buttons on the right -->
            <div class="col-6 col-md-8 text-right">
              <nav class="d-inline-block">
                <a href="#" class="btn btn-link">Home</a>
                <a href="#" class="btn btn-link">Free Course</a>
              </nav>
              <a href="#" class="btn btn-prime">Log In</a>
            </div>
          </div>
        </div>
      </header>

      <section class="test py-5">
        <div class="container">
          <div class="row">
            <!-- Left Content -->
            <div
              class="col-12 col-md-6 key-skill d-flex flex-column justify-content-center"
            >
              <h2 class="mb-0">Key to IELTS Success?</h2>
              <h2 class="mt-0 fw-600">Practice Makes Perfect!</h2>
              <p class="pt-3">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
              </p>
            </div>

            <!-- Right Content (Cards) -->
            <div class="col-12 col-md-6">
              <!-- Card 1 -->
              <div
                class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 ml-2 d-flex align-items-center"
              >
                <div class="col-8">
                  <p class="mb-0 upper-tst">Mock Test</p>
                  <b class="mb-0 lwr-tst">12 Seats</b>
                </div>
                <div
                  class="col-4 d-flex align-items-center justify-content-end"
                >
                  <button
                    type="button"
                    class="btn btn-outline-dark btn-sm btn-block"
                  >
                    Get Free
                  </button>
                </div>
              </div>

              <!-- Card 2 -->
              <div
                class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 ml-2 d-flex align-items-center"
              >
                <div class="col-8">
                  <p class="mb-0 upper-tst">Mock Test</p>
                  <b class="mb-0 lwr-tst">12 Seats</b>
                </div>
                <div
                  class="col-4 d-flex align-items-center justify-content-end"
                >
                  <button
                    type="button"
                    class="btn btn-outline-dark btn-sm btn-block"
                  >
                    Get Free
                  </button>
                </div>
              </div>
              <!-- Card 3 -->
              <div
                class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 ml-2 d-flex align-items-center"
              >
                <div class="col-8">
                  <p class="mb-0 upper-tst">Mock Test</p>
                  <b class="mb-0 lwr-tst">12 Seats</b>
                </div>
                <div
                  class="col-4 d-flex align-items-center justify-content-end"
                >
                  <button
                    type="button"
                    class="btn btn-outline-dark btn-sm btn-block"
                  >
                    Get Free
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-5">
        <div class="row">
          <div class="col-md-6">
            <!-- Card 1 -->
            <div
              class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 mr-3 d-flex align-items-center"
            >
              <div class="col-12">
                <p class="mb-0 upper-tst font-weight-normal">
                  Check your Speaking and Writing Scores
                </p>
                <b class="mb-0 lwr-tst">Within 1 Minute</b>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div
                  class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 mr-3 d-flex align-items-center"
                >
                  <div class="col-12">
                    <p class="mb-0 upper-tst">The World's Only</p>
                    <b class="mb-0 lwr-tst">Context & Content Evaluation</b>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div
                  class="mini-card row p-4 mb-5 mt-lg-4 mb-lg-2 mr-3 d-flex align-items-center"
                >
                  <div class="col-12">
                    <b class="mb-0 lwr-tst">Accurate and Consistent Scoring</b>
                    <p class="mb-0 upper-tst">
                      In Line with Expert Human Graders
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 key-skill d-flex flex-column justify-content-center"
          >
            <h2 class="mb-0 txt-col">Accurate Test Scores</h2>
            <h2 class="mt-0 fw-600">with Advanced AI Grader</h2>
            <p class="pt-md-3">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using 'Content here,
              content here', making it look like readable English.
            </p>
          </div>
        </div>
      </section>

      <section class="ai-power py-5">
        <h3 class="txt-col">AI-Powered Essay & Speech Corrections</h3>
        <h3>Faster than Ever</h3>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old.
        </p>
      </section>

      <section class="py-5">
        <h3 class="txt-col text-center">
          You need to speak a language out loud to learn it.
        </h3>
        <p class="text-center pt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>

      <section class="py-5">
        <h3 class="txt-col text-center">Millions of people love Speak</h3>
        <div class="d-flex justify-content-center pt-3">
          <div class="d-flex flex-column align-items-center mx-3">
            <h2 class="font-weight-bold">4.8</h2>
            <h5 class="text-muted">Rating</h5>
          </div>

          <div class="d-flex flex-column align-items-center mx-3">
            <H2 class="font-weight-bold">5 M +</H2>
            <h5 class="text-muted">Downloads</h5>
          </div>
        </div>
      </section>

      <section>
        <h3 class="txt-col text-center py-5">Frequently Asked Questions</h3>


        <div class=" bg-body-tertiary py-3">
          <div id="testimonialCarousel" class="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/square-headshot-1.png" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">Jane Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/square-headshot-2.png" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">June Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class=" bg-body-tertiary py-3"></div>
          <div id="testimonialCarousel" class="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/square-headshot-1.png" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">Jane Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/square-headshot-2.png" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">June Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card shadow-sm rounded-3">
                  <div class="quotes display-2 text-body-tertiary">
                    <i class="bi bi-quote"></i>
                  </div>
                  <div class="card-body">
                    <p class="card-text">"Some quick example text to build on the card title and make up the
                      bulk of
                      the card's content."</p>
                    <div class="d-flex align-items-center pt-2">
                      <img src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg" alt="bootstrap testimonial carousel slider 2">
                      <div>
                        <h5 class="card-title fw-bold">John Doe</h5>
                        <span class="text-secondary">CEO, Example Company</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
        
        

      </section>

      <footer class="bg-white text-light pt-5">
        <div class="container">
          <div class="row">
            <!-- 8-Column Section -->
            <div class="col-lg-8 col-md-12 mb-4">
              <h4 class="fe-logo">Logo</h4>
              <h6 class="libord pt-2">
                Education Consulting with a Global Perspective
              </h6>
            </div>

            <!-- 4-Column Section with Two Lists -->
            <div class="col-lg-4 col-md-12">
              <div class="row">
                <!-- List 1 -->
                <div class="col-6 mb-3">
                  <h6 class="li-head">Services</h6>
                  <ul class="list-unstyled">
                    <li><a href="#" class="">Consulting</a></li>
                    <li><a href="#" class="">Development</a></li>
                    <li><a href="#" class="">Design</a></li>
                    <li><a href="#" class="">Support</a></li>
                  </ul>
                </div>

                <!-- List 2 -->
                <div class="col-6 mb-3">
                  <h6 class="li-head">Contact</h6>
                  <ul class="list-unstyled">
                    <li><a href="#" class="">Email</a></li>
                    <li><a href="#" class="">Phone</a></li>
                    <li><a href="#" class="">Location</a></li>
                    <li><a href="#" class="">FAQ</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center py-3">
          <small
            >&copy; Copyright © 2024 AI Powered Group All rights
            reserved.</small
          >
        </div>
      </footer>
    </div>
  </body>
</html>
