.mini-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 12px;
  background-color: #fff; /* Optional: Adds a background color */
}

.btn-outline-dark {
  color: #7b0fff;
  font-weight: 500;
  border: 1px solid #7b0fff;
  border-radius: 10px;
  padding: 0.5rem 1rem; /* Adds padding to the button */
}

.btn-outline-dark:hover {
  background-color: #7b0fff;
  color: #fff; /* Change the text color on hover */
  border: 1px solid #7b0fff;
  border-radius: 10px;
}

.upper-tst {
  color: #727271;
  font-size: 0.9rem; /* Adjust font size if needed */

  font-weight: 400;
}

.lwr-tst {
  color: #2b2a29;
  font-size: 1.1rem; /* Adjust font size if needed */
  font-weight: bold; /* Ensure the text stands out */
}
.key-skill p {
  color: #727271;
}
.key-skill h2 {
  font-weight: 600;
}

.footer,
p {
  color: #727271 !important;
}

.list-unstyled li a {
  color: #727271;
}
.li-head {
  color: #7b0fff;
  font-weight: 600;
}
.libord {
  color: #727271;
  font-weight: 600;
}
.fe-logo {
  color: #727271;
}
small {
  color: #727271;
}
.txt-col {
  color: #7b0fff;
}

.nomal {
  border-right: 1px solid #727271;
}

/* header start*/
.header a {
  color: #7b0fff;
  font-weight: 500;
}
.btn-prime {
  border: 1px solid #7b0fff;
  border-radius: 9px;
  padding: 4px 16px;
}
/* header end  */
