body {
    font-family: "Axiforma", sans-serif;
  }
  .icon-img {
    width: 45px; /* Adjust the size as needed */
    height: auto;
    margin-right: 8px!important; 
  }
  
  .mini-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 12px;
    background-color: #fff; /* Optional: Adds a background color */
  }
  
  .btn-outline-dark {
    color: #7b0fff;
    font-weight: 500;
    border: 1px solid #7b0fff;
    border-radius: 10px;
    padding: 0.5rem 1rem; /* Adds padding to the button */
  }
  
  .btn-outline-dark:hover {
    background-color: #7b0fff;
    color: #fff; /* Change the text color on hover */
    border: 1px solid #7b0fff;
    border-radius: 10px;
  }
  
  .upper-tst {
    color: #727271;
    font-size: 0.9rem; /* Adjust font size if needed */
  
    font-weight: 400;
  }
  
  .lwr-tst {
    color: #2b2a29;
    font-size: 1.1rem; /* Adjust font size if needed */
    font-weight: bold; /* Ensure the text stands out */
  }
  .key-skill p {
    color: #727271;
  }
  .key-skill h2 {
    font-weight: 600;
  }
  
  .footer,
  p {
    color: #727271 !important;
  }
  
  .list-unstyled li a {
    color: #727271;
    font-size: 14px;
    font-weight: 500;
  }
  .li-head {
    color: #7b0fff;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .libord {
    color: #727271;
    font-weight: 600;
  }
  .fe-logo {
    color: #727271;
  }
  small {
    color: #727271;
  }
  .txt-col {
    color: #7b0fff;
  }
  
  .nomal {
    border-right: 1px solid #727271;
  }
  .btn-start {
    background-color: #fff;
    color: #0000;
    font-weight: 500;
    padding: 7px 27px;
  }
  .btn-same {
    background-color: #8d3660;
    color: #d7d7d7;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 18px;
  }
  .fw-un{
    font-weight: 550;
  }
  /* header start*/
  .header a {
    color: #7b0fff;
    font-weight: 500;
  }
  
  .btn-prime {
    border: 1px solid #7b0fff;
    border-radius: 9px;
    padding: 4px 16px;
  }