<section class="pt-4 pb-5">
    <div class="container ">
      <div class="row d-flex justify-content-center">
        <h3 class="txt-col text-center py-5 fw-un">Frequently Asked Questions</h3>

        <div class="col-9">
          <div class="accord">
          <details>
            <summary>How do I get started ?</summary>
            <div class="content">
              <p>
                This is the content of section 1. The animation should now
                be consistently smooth.
              </p>
            </div>
          </details>

          <details>
            <summary>What is Lorem Ipsum?</summary>
            <div class="content">
              <p>
                Here's the content for section 2. Observe the reliable
                expanding and collapsing.
              </p>
            </div>
          </details>

          <details>
            <summary>Why do we use it?</summary>
            <div class="content">
              <p>
                And finally, this is section 3. The animation should work
                well every time.
              </p>
            </div>
          </details>
        </div>
        </div>
      </div>
    </div>
  </section>