<!-- <section class="py-5">
  <div class="container">

    <h3 class="txt-col text-center fw-un">
      You need to speak a language out loud to learn it.
    </h3>
    <p class="text-center pt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="row">
      <div class="col-6"><img src="/src/main.jpg" alt="" style="width: 250px; height: 300px;"></div>
      <div class="col-6">dsf</div>
    </div>
  </div>

  </section> -->