<section class="ai-power py-5">
    <div class="container">
      <h3 class="txt-col fw-un">AI-Powered Essay & Speech Corrections</h3>
      <h3 class="fw-un pt-2">Faster than Ever</h3>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text.
      </p>
      <div class="row">
        <div class="col-6">
          <img
            src="https://ibb.co/R7QgF9s"
            alt=""
            style="width: 300px; height: 300px"
          />
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </section>