<section class="ai-power py-5">
  <div class="container">
    <h3 class="txt-col fw-un">AI-Powered Essay & Speech Corrections</h3>
    <h3 class="fw-un pt-2">Faster than Ever</h3>
    <p class="txt-ler py-2">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It  has roots in a.<br>
      piece of classical Latin literature from 45 BC, making it  over 2000 years old
    </p>
    <div class="grid-container mt-4">
      <div class="grid-item">
        <h4 class="question">Q1 <span class="txt-ler" style="font-size: 17px;">Academic Discussion</span> </h4>
        <p class="answer">
          Your professor is the teaching a class on socilogy. write a past
          responding to the professor's questions
        </p>
      </div>
      <div class="grid-item">
        <div class="input-group">
          <input type="text" class="input-field" placeholder="Raw score" />
          <input type="text" class="input-field" placeholder="No of correction" />
        </div>
        <div class="button-group">
          <button class="small-button">Correction</button>
          <button class="small-button">Model</button>
          <button class="small-button">Grammer</button>
        </div>
      </div>
      <div class="grid-item">
        <h4 class="question">My Answer</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
          distinctio veritatis, iure facilis, doloremque omnis expedita ducimus,
          laborum pariatur minima quisquam vel ratione. Lorem ipsum dolor sit
          
        </p>
      </div>
      <div class="grid-item">
        <h4 class="question">Model Answer</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos,
          delectus ullam mollitia facere aliquid incidunt! Sint, mollitia odit
          dolorem nam quaerat rem at. Lorem ipsum dolor sit amet, consectetur
          
        </p>
      </div>
    </div>
  </div>
</section>
